.direnv
terraform/*/.terraform
terraform/*/.terraform.lock.hcl
terraform/*/terraform.tfstate
terraform/*/terraform.tfstate.backup
terraform/*/show.*
terraform/*/terraform.json
.kube
keyfiles
ssh_config