**/secrets/** filter=git-crypt diff=git-crypt
**/static.nix filter=git-crypt diff=git-crypt
**/share/modules/static.nix -filter -diff
**/production/** filter=git-crypt diff=git-crypt
**/secrets/**/*.sh -filter -diff
