resource "r0" {
  handlers {
    before-resync-target "/usr/lib/drbd/snapshot-resync-target-lvm.sh";
    after-resync-target "/usr/lib/drbd/unsnapshot-resync-target-lvm.sh";
  }
  options {
    # auto-promote no;
  }
{% for node in _resources %}
  on "{{ node.target }}" {
    node-id {{ node.id }};
  {% for disk in node.disks %}
  volume {{ loop.index0 }} {
      device minor {{ loop.index0 }};
      disk "{{ disk }}";
      meta-disk "{{ node.meta_disk }}";
    }
  {% endfor %}
}

{% endfor %}

  connection {
  {% for node in _resources %}
  host "{{ node.target }}" address {{ node.address }}:{{ port }};
  {% endfor %}
}
}
