127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomai

{% for node in _nodes %}
{{ node.hostname }} {{ node.address }}
{% endfor %}
